xcelium.d/
*.log
*.shm/
*.dsn
*.rc
*.key
*.diag
*.err
simvision*/
indago*/
*.vcd
*.fsdb
*.trn
jgproject/
*.jdb
*.bz2
session*/
__pycache__/
*.pyc
*.pyo
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
*~

# ---- Vivado ----
vivado/
*.xpr
*.jou
*.str
.Xil/
*.cache/
*.hw/
*.ip_user_files/
*.runs/
*.sim/
*.gen/
reports/_ooc.xdc
"@ | Add-Content -Encoding utf8 .gitignore
